<h2>Find a Thing</h2>
<%= form_for @query, url: {action: "create"} do |f| %>
  <%= f.label 'How much money are you willing to spend?' %>
  $ <%= f.number_field(:price) %> <br>
  <%= f.label 'How far are you willing to travel?' %>
  <%= f.number_field(:distance) %> miles <br>

  <%= f.submit %>
<% end %>
