<h2>Your Top Results:</h2>

<% @activities.each_with_index do |activity, i| %>
<div class = "title">
  <%= i+ 1 %>).
<!-- make this a link with the provided url -->
  <%= link_to activity.name, "http://#{activity.url}", :target => '_blank' %><br>
</div>
<div class = "content">
  <% activity.description = activity.description.gsub(/http\/\//, '') %>
  Description: <%= activity.description %><br>
  Price: ~$<%= activity.price %>.00<br>
  Distance: <%= activity.distance %> miles<br>
</div>
<% end %>
