<h2>Suggest a Thing</h2>
<!-- <%= form_for @activity, url: {action: "create"} do |f| %>
  <%= f.label 'Activity Name' %>:
  <%= f.text_field :name %><br>

  <%= f.label 'Description' %>:
  <%= f.text_area :description %><br>

  <%= f.label 'URL' %>:
  <%= f.text_field :url %><br>

  <%= f.label 'Approximate cost per person' %>:
  $ <%= f.number_field(:price) %> <br>

  <%= f.label 'Distance from Seattle center' %>:
  <%= f.number_field(:distance) %> miles <br>

  <%= f.submit %>
<% end %> -->

<%= bootstrap_form_for @activity, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4", url: {action: "create"}  do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :url %>
  <%= f.text_area :description %>
  <%= f.number_field :price, prepend: "$", append: ".00"  %>
  <%= f.number_field :distance , append: "miles" %>
  <%= f.submit "Submit" %>
<% end %>
